@import '../vars';

* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

a {
    text-decoration: none;
    color: $textGray;
}

.center {
    padding-left: calc(50vw - $contentWidth / 2);
    padding-right: calc(50vw - $contentWidth / 2);
    width: $contentWidth;
}

.header {
    background-color: $darkGray;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
    
    &__logo {
        display: flex;
        align-items: end;
        gap: 40px;
    }

    &__buttons {
        display: flex;
        align-items: end;
        gap: 30px;
    }
}

.arrivals {
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__header {
        color: $mainPink;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
    }

    &__path {
        display: flex;
        gap: 15px;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;

        &__3 {
            font-weight: 700;
            color: $mainPink;
        }
    }
}

.sort {
    position: relative;
    
    &__filter {
        position: absolute;
        box-sizing: border-box;
        width: 360px;
        padding-top: 13px;
        top: 38px;
        left: calc(50vw - $contentWidth / 2);

        &__summary {
            display: flex;
            gap: 11px;
            align-items: center;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 18px;
        }

        &__category {
            display: flex;
            flex-direction: column;

            &__name {
                display: flex;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: $textGray;
                border-left: 5px solid $mainPink;
                border-bottom: 1px solid #EBEBEB;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 11px;
            }

            &__items {
                display: flex;
                flex-direction: column;
                gap: 11px;
                padding-top: 24px;
                padding-left: 16px;
            }

            &__item:hover {
                color: $mainPink;
            }
        }

        &__category[open] .sort__filter__category__name{
            color: $mainPink;
        }
    }

    &__filter[open] {
        padding: 13px 16px 16px 16px;
        box-shadow: 6px 4px 35px 0px #00000036;
        background: #FFFFFF;
    }

    &__filter[open] .sort__filter__summary {
        color: $mainPink;
        padding-bottom: 16px;
    }
    &__filter[open] path {
        fill: $mainPink;
    }

    &__properties {
        position: absolute;
        display: flex;
        top: 51px;
        left:38.75vw;
        flex-direction: row;
        gap: 28px;
    }

    &__propertie {
        position: relative;
        width: max-content;

        &__summary {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $textGray;
        }

       &__check {
        display: flex;
        gap: 9px;
       } 
    }

    &__propertie[open] .sort__propertie__box{
        display: flex;
        flex-direction: column;
        box-shadow: 6px 4px 35px 0px #00000036;
        background: #FFFFFF;
        padding-top: 7px;
        padding-left: 9px;
        padding-bottom: 11px;
        position: absolute;
        top: 22px;
        left: -10px;
        width: 80px;
        gap: 6px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: $textGray;
    }

}

.products {
    margin-top: 132px;

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        

        &__item {
            background: #F8F8F8;
            width: 360px;

            &__info {    
                padding-left: 16px;
                padding-top: 24px;
            }

            &__name {
                margin-bottom: 16px;
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
                color: #000;
            }

            &__description {
                margin-bottom: 16px;
                font-family: Lato;
                font-size: 14px;
                font-weight: 300;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #5D5D5D;
            }

            &__price {
                margin-bottom: 24px;
                font-family: Lato;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #F16D7F;
            }

        }
    }
}

.features {
    display: flex;
    background-color: $darkGray;
    padding-top: 104px;
    padding-bottom: 104px;
    gap: 30px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FBFBFB;
        
        &__header {
            padding-top: 28px;
            padding-bottom: 16px;
            font-family: Lato;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
        }

        &__text {
            font-family: Lato;
            font-size: 14px;
            font-weight: 300;
            line-height: 17px;
            letter-spacing: 0em;
        }
    }
}

.subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13.94vw;
    height: 448px;
    background-image: url(../img/subsctibe_bg.png);
    background-size: 100vw;
    background-repeat: no-repeat;

    &__person {
        width: 360px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;

        &__img {
            margin-bottom: 30px;
        }
    }

    &__send {
        width: 557px;

        &__header1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
        }

        &__header2 {
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: center;
            margin-bottom: 32px;
        }

        &__mail {
            display: flex;
            justify-content: center;

            &__email {
                background-color: #E1E1E1;
                padding: 6.5px 22px;
                border: none;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px ;
            }

            &__email:hover {
                background-color: #fff;
            }

            &__submit {
                color: #FBFBFB;
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                text-align: center;
                background-color: $mainPink;
                padding: 6.5px 0px;
                border: none;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px ;
                width: 85px;
                height: 20px;
                padding: 6.5px 7.5px;
                transition: 0.3s;
            }

            &__submit:hover {
                background-color: #FBFBFB;
                color: $mainPink;
                border: 1px solid $mainPink;
            }
        }
    }
}

.copyright {
    background-color: #222224;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__links {
        display: flex;
        gap: 7.3px;

        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 32px;
            width: 32px;
            background-color: #FFFFFF;
            transition: 0.2s;
        }

        &__link:hover {
            background-color: #F16D7F;
        }

        &__link:hover path {
            fill: #FFFFFF;
        }
    }
}