* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

a {
  text-decoration: none;
  color: #636363;
}

.center {
  padding-left: calc(50vw - 570px);
  padding-right: calc(50vw - 570px);
  width: 1140px;
}

.header {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__logo {
  display: flex;
  align-items: end;
  gap: 40px;
}
.header__buttons {
  display: flex;
  align-items: end;
  gap: 30px;
}

.arrivals {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrivals__header {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.arrivals__path {
  display: flex;
  gap: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.arrivals__path__3 {
  font-weight: 700;
  color: #F16D7F;
}

.registr {
  display: flex;
  gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registr__data {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.registr__data__name {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.registr__data__name__gender {
  padding-top: 11px;
  display: flex;
  align-items: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  gap: 20px;
}
.registr__data__name__gender__item {
  padding-left: 10px;
}
.registr__data__header {
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}
.registr__data__input {
  padding: 13px 16px 16px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
}
.registr__data__text {
  padding-bottom: 11px;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #B1B1B1;
}
.registr__data__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 16px 29px;
  width: 167px;
  color: #fff;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  transition: 0.3s;
}
.registr__data__button:hover {
  background-color: #fff;
  color: #F16D7F;
}
.registr__data__button:hover path {
  fill: #F16D7F;
}
.registr__info {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.registr__info__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.registr__info__list__item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13.94vw;
  height: 448px;
  background-image: url(../img/subsctibe_bg.png);
  background-size: 100vw;
  background-repeat: no-repeat;
}
.subscription__person {
  width: 360px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.subscription__person__img {
  margin-bottom: 30px;
}
.subscription__send {
  width: 557px;
}
.subscription__send__header1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
.subscription__send__header2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 32px;
}
.subscription__send__mail {
  display: flex;
  justify-content: center;
}
.subscription__send__mail__email {
  background-color: #E1E1E1;
  padding: 6.5px 22px;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.subscription__send__mail__email:hover {
  background-color: #fff;
}
.subscription__send__mail__submit {
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  background-color: #F16D7F;
  padding: 6.5px 0px;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 85px;
  height: 20px;
  padding: 6.5px 7.5px;
  transition: 0.3s;
}
.subscription__send__mail__submit:hover {
  background-color: #FBFBFB;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}

.copyright {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}
.copyright__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}
.copyright__links {
  display: flex;
  gap: 7.3px;
}
.copyright__links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #FFFFFF;
  transition: 0.2s;
}
.copyright__links__link:hover {
  background-color: #F16D7F;
}
.copyright__links__link:hover path {
  fill: #FFFFFF;
}

@media (max-width: 1024px) {
  .center {
    width: 736px;
    padding-left: calc(50vw - 368px);
    padding-right: calc(50vw - 368px);
  }
  .registr {
    gap: 22px;
    padding-top: 40px;
    padding-bottom: 96px;
  }
  .registr__data {
    width: 736px;
  }
  .registr__info {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .subscription {
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    height: 693px;
    background-size: 245vw;
  }
}
@media (max-width: 768px) {
  .subscription {
    background-size: 323vw;
  }
}/*# sourceMappingURL=style.css.map */